/* 
    Document   : home_style
    Created on : Oct 17, 2013, 5:23:08 PM
    Author     : Anno, epoxy
    Description:
        Purpose of the stylesheet follows.
*/

body {
  padding-top: 50px;
}

#contents {
    margin-top: 20px;
}

.navbar-static-top {
  margin-bottom: 19px;
}

.navbar-brand {
    font-size: 19pt;
}

.form-control {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
}
