/* 
    Document   : wall
    Created on : Oct 19, 2013, 3:38:38 PM
    Author     : Anno
    Description:
        Purpose of the stylesheet follows.
*/

.post {
    margin: 25px 0px;
    border-top: 1px dashed rgb(206, 206, 209);
}

.commentbox{
    margin: 10px 0px 0px 0px;
    padding: 5px 0px;
}

.comment {
    border: 1px solid rgb(230, 230, 230);
    border-radius: 5px;
    margin: 0px 0px 5px 0px;
    padding: 5px 3px 0px 20px;
}

.comment-even {
    background-color: white;
}

.comment-uneven {
    background-color: rgb(247, 247, 248);
}

.custom-date {
    color: gray;
    font-size: smaller;
}

.custom-body-text {
    
}

.custom-title {
    font-weight: bold;
}

.postlist {
    list-style: none;
}

.post-textarea {
    width: 600px;
    height: 300px;
}

.voting-span {
    margin-left: 100px;
}

.input-block-level {
    width: 100%; 
    box-sizing: border-box; 
    height: 100px;
}

.blue {
    color: peri;
}

.periwinkle {
    color: #9494FF;
}

.orangered {
    color: rgb(255, 69, 0);
}


.medium-distance {
    margin-left: 35px;
}

.comment-text {
    margin: 5px 0px;
}

.author {
    font-weight: bold;
}